body {
 background-color: #424242;
 font-family: Advent Pro;
 margin: 0;
 padding: 0;
 border: 0;
}
/*
Use for padding :
Landscape :
margin-top: 2.5vw;
margin-bottom: 2.5vw;
margin-left: 2.5vw;
margin-right: 2.5vw;
Portrait : 
margin-top: 5vw;
margin-bottom: 5vw;
margin-left: 5vw;
margin-right: 5vw;
*/
.l {
	margin: 0;
  padding: 0;
  border: 0;
	float: left;
}
.r {
	margin: 0;
  padding: 0;
  border: 0;
	float: right;
}
#logo {
	height: auto;
}
#Nav {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  top: 0;
  position: static;
}
img {
	margin: 0;
  padding: 0;
	margin: 0;
}
button {
	margin: 0;
  padding: 0;
	margin: 0;
	color: #F1F2F3;
	background-color: #345678;
	display: block;
}
button:hover {
	cursor: pointer;
}
.dropbtn {
  display: inline-block;
}
button:hover {
	background-color: #888888;
}
.dropdown:hover {
  background-color: transparent;
}
.dropdown {
  display: inline-block;
}
.dropdown-content {
	display: none;
  position: absolute;
  background-color: transparent;
}
#colon {
	display: none;
}
.dropdown:hover #colon {
	display: inline-block;
}
.nus {
	margin: 0;
  padding: 0;
  border: 0;
}
.dropdown-content button:hover {
	background-color: #888888;
}
.dropdown:hover .dropdown-content {
  display: inline-block;
}

@media (orientation: landscape){
	.pad {
		margin-top: 2.5vw;
		margin-bottom: 2.5vw;
		margin-left: 2.5vw;
		margin-right: 2.5vw;
	}
	.padl {
		margin-left: 2.5vw;
	}
	.padr {
		margin-right: 2.5vw;
	}
	.padt {
		margin-top: 2.5vw;
	}
	.padb {
		margin-bottom: 2.5vw;
	}
	#logo {
		width: 5vw;
	}
	button {
		font-size: 2.5vw;
	}
	#Navtop {
		font-size: 2.5vw;
		background-color: #EEEEEE;
	 	color: #111111;
 	}
	#Navnottop {
	 	font-size: 2.5vw;
	 	background-color: #111111;
		color: #EEEEEE;
	}

}
@media (orientation: portrait){
	.pad {
		margin-top: 5vw;
		margin-bottom: 5vw;
		margin-left: 5vw;
		margin-right: 5vw;
	}
	.padl {
		margin-left: 5vw;
	}
	.padr {
		margin-right: 5vw;
	}
	.padt {
		margin-top: 5vw;
	}
	.padb {
		margin-bottom: 5vw;
	}
	#logo {
		width: 10vw;
	}
	button {
		font-size: 3vw;
	}
	#Navtop {
 		display: none;
  }
 	#Navnottop {
 		display: none;
	}

}